<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="movimiento-detalle-app">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }
    </style>


    <iron-ajax auto="" id="obtenerMovimientoDetalle"
                url="http://localhost:3000/v2/movimientos/{{id}}"
                handle-as="json"
                on-response="mostrarMovimientoDetalle">

    </iron-ajax>

    <h1>Detalle del movimiento: {{id}}</h1>
    <h2>Ciudad: {{movimiento.ciudad}}</h2>
    <h3>Importe: {{movimiento.importe}}</h3>

<!-- MOVIMIENTOS -->
<div class="row">
<table hidden$="{{noTengoMovmiento}}" class="table table-striped">
  <thead>
    <th>Id</th>
    <th>Fecha</th>
    <th>Importe</th>
    <th>Latitud</th>
    <th>Longitud</th>
    <th>Ciudad</th>
  </thead>
  <tbody>
    <template>
            <tr>
              <td>{{movimiento.id}}</td>
              <td>{{mmovimientoov.fecha}}</td>
              <td>{{mmovimientoov.importe}}</td>
              <td>{{mmovimientoov.latitud}}</td>
              <td>{{movimiento.longitud}}</td>
              <td>{{movimiento.ciudad}}</td>
            </tr>
          </template>
  </tbody>

</table>
</div>
<!-- <table hidden$="{{noTengoMovmientos}}" class="table table-striped">
  <thead>
    <th>Id</th>
    <th>Fecha</th>
    <th>Importe</th>
    <th>Latitud</th>
    <th>Longitud</th>
    <th>Ciudad</th>
  </thead>
  <tbody>-->

<!--  </tbody>
https://maps.googleapis.com/maps/api/staticmap?center=Australia&size=640x400&style=element:labels|visibility:off&style=element:geometry.stroke|visibility:off&style=feature:landscape|element:geometry|saturation:-100&style=feature:water|saturation:-100|invert_lightness:true
</table>-->
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class MovimientoDetalleApp extends Polymer.Element {
      static get is() { return 'movimiento-detalle-app'; }

      static get properties() {
        return {
          movimiento:{
            type: Object
          },
          noTengoMovmiento:{
            type: Boolean,
            value: true
          }
        };
      }

      mostrarMovimientoDetalle(data){
        console.log(data.detail.response)
        this.movimiento = data.detail.response
        this.noTengoMovmiento = false
      }
    }

    window.customElements.define(MovimientoDetalleApp.is, MovimientoDetalleApp);
  </script>
</dom-module>
