<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="movimientos-app">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }
    </style>


    <iron-ajax id="obtenerMovimientos"
                url="http://localhost:3000/v2/movimientos"
                handle-as="json"
                on-response="mostrarMovimientos">

    </iron-ajax>

    <div class="">
      <button on-click="invocarPeticionMovimientos" class="btn btn-info">Movimientos</button>
    </div>

<!-- MOVIMIENTOS -->
<div class="row">
  <span>{{ciudadSeleccionada}}</span>
<table hidden$="{{noTengoMovmientos}}" class="table table-striped">
  <thead>
    <th>Id</th>
    <th>Fecha</th>
    <th>Importe</th>
    <th>Latitud</th>
    <th>Longitud</th>
    <th>Ciudad</th>
    <th>Detalle</th>
  </thead>
  <tbody>
    <template is="dom-repeat" items="{{movimientos}}" as="mov">
            <tr on-click="mostrarInfoFila">
              <td>{{mov.id}}</td>
              <td>{{mov.fecha}}</td>
              <td>{{mov.importe}}</td>
              <td>{{mov.latitud}}</td>
              <td>{{mov.longitud}}</td>
              <td>{{mov.ciudad}}</td>
              <td><a href="/movimientos/[[item.id]]"></a>Ver detalle</td>
            </tr>
          </template>
  </tbody>

</table>
</div>
<!-- <table hidden$="{{noTengoMovmientos}}" class="table table-striped">
  <thead>
    <th>Id</th>
    <th>Fecha</th>
    <th>Importe</th>
    <th>Latitud</th>
    <th>Longitud</th>
    <th>Ciudad</th>
  </thead>
  <tbody>-->
  <div class="row">
    <template is="dom-repeat" items="{{movimientos}}" as="mov">
      <div class="col-lg-3">
      <div class="card" style="width: 20rem;">
        <img class="card-img-top" src="https://maps.googleapis.com/maps/api/staticmap?center=[[mov.ciudad]]&zoom=6&scale=1&size=600x300&maptype=roadmap&format=png&visual_refresh=true" alt="">
        <div class="card-block">
          <h4 class="card-title">{{mov.id}}</h4>
          <p class="card-text">{{mov.fecha}}</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">{{mov.importe}}</li>
          <li class="list-group-item">{{mov.ciudad}}</li>
          <li class="list-group-item">{{mov.latitud}}</li>
          <li class="list-group-item">{{mov.longitud}}</li>
        </ul>
      </div>
      </div>
    </template>
  </div>
<!--  </tbody>
https://maps.googleapis.com/maps/api/staticmap?center=Australia&size=640x400&style=element:labels|visibility:off&style=element:geometry.stroke|visibility:off&style=feature:landscape|element:geometry|saturation:-100&style=feature:water|saturation:-100|invert_lightness:true
</table>-->
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class MovimientosApp extends Polymer.Element {
      static get is() { return 'movimientos-app'; }

      static get properties() {
        return {
          movimientos:{
            type: Array
          },
          noTengoMovmientos:{
            type: Boolean,
            value: true
          },
          ciudadSeleccionada:{
            type: String
          }
        };
      }

      invocarPeticionMovimientos(){
        this.$.obtenerMovimientos.generateRequest();
      }

      mostrarMovimientos(data){
        console.log(data.detail.response)
        this.movimientos = data.detail.response
        this.noTengoMovmientos = false
      }

      mostrarInfoFila(e){
        console.log(e)
        this.ciudadSeleccionada=e.model.mov.ciudad

      }
    }

    window.customElements.define(MovimientosApp.is, MovimientosApp);
  </script>
</dom-module>
