<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="loginmx-app">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }
    </style>
    <iron-ajax id="obtenerProductos"
                url="http://services.odata.org/V4/Northwind/Northwind.svc/Products"
                handle-as="json"
                on-response="mostrarProductos">

    </iron-ajax>
    <iron-ajax id="hacerLogin"
                url="http://localhost:3000/v2/usuarios/login"
                handle-as="text"
                method="POST"
                headers='{"email":"","password":""}',
                on-response="mostrarResultadoLogin">

    </iron-ajax>

    <iron-ajax id="obtenerMovimientos"
                url="http://localhost:3000/v2/movimientos"
                handle-as="json"
                on-response="mostrarMovimientos">

    </iron-ajax>

    <div class="row">
      <button type="button" name="button" class="col-lg-4 col-6">Boton 1</button>
      <button type="button" name="button" class="col-lg-4 col-6">Boton 2</button>
      <button type="button" name="button" class="col-lg-4 col-6">Boton 3</button>
    </div>

    <div class="">
      <label for="">[[etuser]]</label>
      <input type="text" name="" value="{{valuser::input}}">
    </div>
    <div class="">
      <label for="">[[etpassword]]</label>
      <input type="text" name="" value="">
    </div>
    <div class="">
      <button on-click="hacerLogin" class="btn btn-info">[[etlogin]]</button>
      <button on-click="invocarPeticion" class="btn btn-warning">Invocar</button>
      <button on-click="invocarPeticionMovimientos" class="btn btn-info">Movimientos</button>
    </div>
    <table hidden$="{{noTengoProductos}}" class="table table-striped">
      <thead>
        <th>Id</th>
        <th>Nombre</th>
        <th>Precio</th>
      </thead>
      <tbody>
        <tr>
          <td>0</td>
          <td>Prueba</td>
        </tr>
        <template is="dom-repeat" items="{{productos}}" as="prd">
            <tr>
              <td>{{prd.ProductID}}</td>
              <td>{{prd.ProductName}}</td>
              <td>{{prd.UnitPrice}}</td>
            </tr>
        </template>
      </tbody>
    </table>
<!-- MOVIMIENTOS -->
<table hidden$="{{noTengoMovmientos}}" class="table table-striped">
  <thead>
    <th>Id</th>
    <th>Fecha</th>
    <th>Importe</th>
    <th>Latitud</th>
    <th>Longitud</th>
    <th>Ciudad</th>
  </thead>
  <tbody>
    <template is="dom-repeat" items="{{movimientos}}" as="mov">
            <tr>
              <td>{{mov.id}}</td>
              <td>{{mov.fecha}}</td>
              <td>{{mov.importe}}</td>
              <td>{{mov.latitud}}</td>
              <td>{{mov.longitud}}</td>
              <td>{{mov.ciudad}}</td>
            </tr>
          </template>
  </tbody>
</table>
<!-- <table hidden$="{{noTengoMovmientos}}" class="table table-striped">
  <thead>
    <th>Id</th>
    <th>Fecha</th>
    <th>Importe</th>
    <th>Latitud</th>
    <th>Longitud</th>
    <th>Ciudad</th>
  </thead>
  <tbody>-->
  <div class="row">
    <template is="dom-repeat" items="{{movimientos}}" as="mov">
      <div class="col-lg-3">
      <div class="card" style="width: 20rem;">
        <img class="card-img-top" src="https://maps.googleapis.com/maps/api/staticmap?center=[[mov.ciudad]]&zoom=6&scale=1&size=600x300&maptype=roadmap&format=png&visual_refresh=true" alt="">
        <div class="card-block">
          <h4 class="card-title">{{mov.id}}</h4>
          <p class="card-text">{{mov.fecha}}</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">{{mov.importe}}</li>
          <li class="list-group-item">{{mov.ciudad}}</li>
          <li class="list-group-item">{{mov.latitud}}</li>
          <li class="list-group-item">{{mov.longitud}}</li>
        </ul>
      </div>
      </div>
    </template>
  </div>
<!--  </tbody>
https://maps.googleapis.com/maps/api/staticmap?center=Australia&size=640x400&style=element:labels|visibility:off&style=element:geometry.stroke|visibility:off&style=feature:landscape|element:geometry|saturation:-100&style=feature:water|saturation:-100|invert_lightness:true
</table>-->
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginmxApp extends Polymer.Element {
      static get is() { return 'loginmx-app'; }

      static get properties() {
        return {
          etuser: {
            type: String,
          },
          etpassword: {
            type: String,
          },
          etlogin: {
            type: String,
          },
          valuser: {
            type: String
          },
          productos:{
            type: Array
          },
          usuarios:{
            type: Array
          },
          noTengoProductos:{
            type: Boolean,
            value: true
          },
          movimientos:{
            type: Array
          },
          noTengoMovmientos:{
            type: Boolean,
            value: true
          }
        };
      }

      hacerLogin(){
        console.log("Login correcto de " + this.valuser)
        this.$.hacerLogin.generateRequest();
      }

      invocarPeticion(){
        this.$.obtenerProductos.generateRequest();
      }

      mostrarProductos(data){
        console.log(data.detail.response.value)
        this.productos = data.detail.response.value
        this.noTengoProductos = false
      }

      mostrarResultadoLogin(data){
        console.log(data.detail.response)
      }

      invocarPeticionMovimientos(){
        this.$.obtenerMovimientos.generateRequest();
      }

      mostrarMovimientos(data){
        console.log(data.detail.response)
        this.movimientos = data.detail.response
        this.noTengoMovmientos = false
      }
    }

    window.customElements.define(LoginmxApp.is, LoginmxApp);
  </script>
</dom-module>
