<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="frontpolymer-app">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <input type="text" name="" value="{{prop1::input}}">
    <input type="text" name="" value="[[prop1]]">
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class FrontpolymerApp extends Polymer.Element {
      static get is() { return 'frontpolymer-app'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'frontpolymer-app'
          }
        };
      }
    }

    window.customElements.define(FrontpolymerApp.is, FrontpolymerApp);
  </script>
</dom-module>
